body {
  margin: 0;
  background: #0f172a;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

.app {
  max-width: 420px;
  margin: auto;
  padding: 20px;
}

.top-bar {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

#progress {
  width: 70%;
  height: 8px;
  background: #1e293b;
  border-radius: 5px;
}

#progress::after {
  content: "";
  display: block;
  height: 100%;
  width: 30%;
  background: #22c55e;
  border-radius: 5px;
}

#audioBox {
  width: 100px;
  height: 100px;
  background: #38bdf8;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  margin: 20px auto;
}

#options {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 12px;
}

.option {
  background: #020617;
  border: 2px solid #1e293b;
  border-radius: 15px;
  padding: 20px;
  text-align: center;
  font-size: 22px;
}

.option.selected {
  border-color: #38bdf8;
}

button {
  width: 100%;
  padding: 15px;
  margin-top: 20px;
  background: #1e293b;
  color: white;
  border: none;
  border-radius: 15px;
  font-size: 18px;
}

.hidden {
  display: none;
}

#sentenceBox {
  background: #020617;
  padding: 15px;
  border-radius: 15px;
  margin-bottom: 20px;
  text-align: center;
  font-size: 20px;
}
